.card {
    border-radius: 10px;
}

.card-header {
    border-radius: 10px 10px 0 0 !important;
}

.requirement-met {
    color: #28a745 !important;
}

.requirement-met i {
    color: #28a745 !important;
}

.requirement-failed {
    color: #dc3545 !important;
}

.requirement-failed i {
    color: #dc3545 !important;
}
